<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bc6a04d-7521-4c37-bfc5-ebd0e1a1d56b" Alias="Contact us - Request Text - Text - Text Area Property Editor UI" Level="1">
  <Info>
    <Name>Contact us - Request Text - Text - Text Area Property Editor UI</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "rows": 10
}]]></Config>
</DataType>