<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6fd647d-257e-4d06-9b86-3ba69c44032e" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-10-26T19:39:01</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d8ef896-6a6b-4896-84bd-9fef921a81d1">contactUs</Template>
  </Info>
  <Properties>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "aab10e48-6f3f-4677-8c46-9f9c6ad7dae1",
    "mediaKey": "bdda627c-f1fb-4743-9b5d-2ca153193ed9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <contactHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactHeadline>
    <contactLink1>
      <Value><![CDATA[/]]></Value>
    </contactLink1>
    <contactLink2>
      <Value><![CDATA[/contact]]></Value>
    </contactLink2>
    <contactLinkText1>
      <Value><![CDATA[Home]]></Value>
    </contactLinkText1>
    <contactLinkText2>
      <Value><![CDATA[Contact]]></Value>
    </contactLinkText2>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <requestTextHeading>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </requestTextHeading>
    <requestTextHeadline>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </requestTextHeadline>
    <requestTextText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </requestTextText>
  </Properties>
</Content>