<?xml version="1.0" encoding="utf-8"?>
<Content Key="00073f8f-1281-4f50-aa7f-b20840ee5a4e" Alias="header info" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/headerInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>headerInfo</ContentType>
    <CreateDate>2024-10-03T13:33:41</CreateDate>
    <NodeName Default="header info" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutLink>
      <Value><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/9b883d2e7bbb4b9ca7f4014527c03eee",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </aboutLink>
    <contactLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </contactLink>
    <logoPic>
      <Value><![CDATA[[
  {
    "key": "5f50d171-c3ad-4779-885f-a7ece4269044",
    "mediaKey": "56287fce-c92a-4e7a-bd35-d08ed1f910f1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoPic>
    <projectsLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </projectsLink>
    <servicesLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c,umb://document/b5d1f32171bd4e2e8c2447000d2527bb]]></Value>
    </servicesLink>
  </Properties>
</Content>