<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f2ad51f-9491-4d22-9fb3-9da0710f11c9" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-06T21:16:20</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa1da69e-3264-46b9-b396-492ad03bbf94">homePage</Template>
  </Info>
  <Properties>
    <aboutUsHeadLine>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutUsHeadLine>
    <aboutUsMiniHeading>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutUsMiniHeading>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutUsSignature>
    <aboutUsSignaturePic>
      <Value><![CDATA[[
  {
    "key": "aaabe1db-c27d-4078-8051-fe1268b14060",
    "mediaKey": "55394507-f3e3-4874-a3c4-58b587e08604",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsSignaturePic>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutUsText>
    <background>
      <Value><![CDATA[[
  {
    "key": "c04c9f89-b021-4e43-abd9-5e76dce5c32c",
    "mediaKey": "7abbeade-1211-4990-93bd-bd1615122ca2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </background>
    <dotMap>
      <Value><![CDATA[[
  {
    "key": "cc20380f-60d2-49ae-b2e0-4522a2631e0a",
    "mediaKey": "07eefd23-a6f4-4cb5-baaa-eb08b139d78d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </dotMap>
    <formButtonText>
      <Value><![CDATA[Submit]]></Value>
    </formButtonText>
    <formHeading>
      <Value><![CDATA[Request a call back]]></Value>
    </formHeading>
    <formText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </formText>
    <group1Num>
      <Value><![CDATA[689]]></Value>
    </group1Num>
    <group1Text>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </group1Text>
    <group2Num>
      <Value><![CDATA[370]]></Value>
    </group2Num>
    <group2Text>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </group2Text>
    <group3Num>
      <Value><![CDATA[125]]></Value>
    </group3Num>
    <group3Text>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </group3Text>
    <heroButtonLink>
      <Value><![CDATA[umb://document/121e0f229d094eaf99046572e56f397c]]></Value>
    </heroButtonLink>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroHeadLine>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadLine>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <heroWomanImage>
      <Value><![CDATA[[
  {
    "key": "bbbe80c9-2866-46c5-a053-b2fcb13d2f88",
    "mediaKey": "940fd2c6-cd8c-435c-bbd7-437df70bf33e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroWomanImage>
    <img1>
      <Value><![CDATA[[
  {
    "key": "954a08d8-aa11-4850-b299-0066e05a17dc",
    "mediaKey": "d7dfe1e8-2f7a-43f0-bde4-4b7c8c1b3692",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img1>
    <img2>
      <Value><![CDATA[[
  {
    "key": "a9f6df04-4cd8-4a08-ae12-69bdfb1a0797",
    "mediaKey": "7d039a89-b82f-4472-b4ca-e03df8487694",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img2>
    <img3>
      <Value><![CDATA[[
  {
    "key": "89c137ff-8118-449d-9b83-f532b8f69f86",
    "mediaKey": "918189df-4ddb-4d94-940a-97c437c9ac66",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img3>
    <img4>
      <Value><![CDATA[[
  {
    "key": "3b72da0a-bdba-4161-b3f9-51b39963fa5e",
    "mediaKey": "0eba3d2c-0ba4-487a-9cad-76d10ccdbb47",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img4>
    <img5>
      <Value><![CDATA[[
  {
    "key": "9c5937d9-4148-42ee-94c1-3e6a81f44da5",
    "mediaKey": "64ec1940-d3ca-4605-993d-d1ee426d571d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img5>
    <img6>
      <Value><![CDATA[[
  {
    "key": "91a591bf-c8b5-4664-83ae-cbebdde9106a",
    "mediaKey": "64ec1940-d3ca-4605-993d-d1ee426d571d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img6>
    <logo1>
      <Value><![CDATA[[
  {
    "key": "9e9a5c68-6a5a-4e43-81bf-1524a4116e08",
    "mediaKey": "d0aafb36-b39b-43ee-bfac-a984b1d39c4c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo1>
    <logo2>
      <Value><![CDATA[[
  {
    "key": "ed742a4f-1e09-4266-9114-955e054af682",
    "mediaKey": "86a1c3cd-1b7a-4adf-a8fa-4e4374dca87c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo2>
    <logo3>
      <Value><![CDATA[[
  {
    "key": "4ca5d464-eeea-4f12-9496-f101aabc561f",
    "mediaKey": "1d3d2cb3-e912-450d-b8a8-533ce54cdc3c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo3>
    <logo4>
      <Value><![CDATA[[
  {
    "key": "d6518c55-4a3e-4ea2-9f00-0556723065f4",
    "mediaKey": "75a9d1e1-f31e-4ded-862d-9d8517a20e41",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo4>
    <logo5>
      <Value><![CDATA[[
  {
    "key": "4d3cf2b4-718d-4a49-84b7-011052b8b057",
    "mediaKey": "b93241e1-68c1-4234-b7b2-0a260744477a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo5>
    <logo6>
      <Value><![CDATA[[
  {
    "key": "e46e8a2a-6e80-4ada-a735-2664cd91c6fb",
    "mediaKey": "9d2a48df-dee8-44f5-ba04-8ced55b43396",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo6>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "b3e95015-25f9-400e-8e19-b44f947a3497",
    "mediaKey": "90963cf2-a923-4cb2-aa37-3404eb71aa89",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logoImage>
    <ourServicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </ourServicesHeadline>
    <ourServicesMiniHeading>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServicesMiniHeading>
    <service1Headline>
      <Value><![CDATA[Risk Management]]></Value>
    </service1Headline>
    <service1Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service1Text>
    <service2Headline>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </service2Headline>
    <service2Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service2Text>
    <service3Headline>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </service3Headline>
    <service3Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service3Text>
    <service4Headline>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </service4Headline>
    <service4Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service4Text>
    <service5Headline>
      <Value><![CDATA[Financial Advisor]]></Value>
    </service5Headline>
    <service5Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service5Text>
    <service6Headline>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </service6Headline>
    <service6Text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </service6Text>
    <servicesHeadline>
      <Value><![CDATA[]]></Value>
    </servicesHeadline>
    <serviceSolution1Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution1Headline>
    <serviceSolution1Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution1Image>
    <serviceSolution1Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution1Link>
    <serviceSolution1Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution1Text>
    <serviceSolution2Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution2Headline>
    <serviceSolution2Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution2Image>
    <serviceSolution2Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution2Link>
    <serviceSolution2Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution2Text>
    <serviceSolution3Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution3Headline>
    <serviceSolution3Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution3Image>
    <serviceSolution3Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution3Link>
    <serviceSolution3Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution3Text>
    <serviceSolution4Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution4Headline>
    <serviceSolution4Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution4Image>
    <serviceSolution4Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution4Link>
    <serviceSolution4Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution4Text>
    <serviceSolution5Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution5Headline>
    <serviceSolution5Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution5Image>
    <serviceSolution5Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution5Link>
    <serviceSolution5Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution5Text>
    <serviceSolution6Headline>
      <Value><![CDATA[]]></Value>
    </serviceSolution6Headline>
    <serviceSolution6Image>
      <Value><![CDATA[]]></Value>
    </serviceSolution6Image>
    <serviceSolution6Link>
      <Value><![CDATA[]]></Value>
    </serviceSolution6Link>
    <serviceSolution6Text>
      <Value><![CDATA[]]></Value>
    </serviceSolution6Text>
    <servicesTitleFirstRow>
      <Value><![CDATA[]]></Value>
    </servicesTitleFirstRow>
    <servicesTitleSecondRow>
      <Value><![CDATA[]]></Value>
    </servicesTitleSecondRow>
    <successHeading>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successHeading>
    <successHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successHeadline>
    <successPic>
      <Value><![CDATA[[
  {
    "key": "f7500f66-afbf-41ee-9f3f-974cfca2069f",
    "mediaKey": "469ac614-67e8-46e4-8d44-9202d070729c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successPic>
    <teamPic>
      <Value><![CDATA[[
  {
    "key": "528ecd19-e7e2-4656-a882-ffd82a5508b1",
    "mediaKey": "37bd16b3-f81c-46b7-8b4e-41c53096a4b3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </teamPic>
    <trustedButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonText>
    <trustedClients>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedClients>
    <trustedHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedHeadline>
    <trustedText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedText>
  </Properties>
</Content>