<?xml version="1.0" encoding="utf-8"?>
<Content Key="99c71466-707b-4c6f-a945-a4df756ecfa5" Alias="Navigation" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2024-11-01T14:31:03</CreateDate>
    <NodeName Default="Navigation" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addresInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </addresInfo>
    <facebookLink>
      <Value><![CDATA[]]></Value>
    </facebookLink>
    <linkedInLink>
      <Value><![CDATA[]]></Value>
    </linkedInLink>
    <pageLink>
      <Value><![CDATA[/services]]></Value>
    </pageLink>
    <pageName>
      <Value><![CDATA[Services ]]></Value>
    </pageName>
    <twitterLink>
      <Value><![CDATA[]]></Value>
    </twitterLink>
  </Properties>
</Content>