<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dfd637e-784c-47a4-ab94-5006a88a4507" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-10-27T18:01:42</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3bcd445f-a8d4-4801-99ba-86218d70c307">projects</Template>
  </Info>
  <Properties>
    <lOurProjectsDate01>
      <Value><![CDATA[June 15, 2024]]></Value>
    </lOurProjectsDate01>
    <lOurProjectsDate02>
      <Value><![CDATA[May 17, 2024]]></Value>
    </lOurProjectsDate02>
    <lOurProjectsDate03>
      <Value><![CDATA[February 6, 2024]]></Value>
    </lOurProjectsDate03>
    <lOurProjectsDate04>
      <Value><![CDATA[January 3, 2024]]></Value>
    </lOurProjectsDate04>
    <lOurProjectsHeadline01>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </lOurProjectsHeadline01>
    <lOurProjectsHeadline02>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </lOurProjectsHeadline02>
    <lOurProjectsHeadline03>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </lOurProjectsHeadline03>
    <lOurProjectsHeadline04>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </lOurProjectsHeadline04>
    <lOurProjectsImage01>
      <Value><![CDATA[[
  {
    "key": "d8ec5861-e38e-4c0a-bcdd-06ff29bd6305",
    "mediaKey": "f66c3655-335d-42d3-b2f6-074861fa8b99",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage01>
    <lOurProjectsImage02>
      <Value><![CDATA[[
  {
    "key": "3a8fb89e-9a8d-414d-a13c-616b07e64e38",
    "mediaKey": "0757a268-6c1e-4fff-9f96-ff8ce0a31deb",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage02>
    <lOurProjectsImage03>
      <Value><![CDATA[[
  {
    "key": "5eedf0b2-1941-42fd-a504-20f842599521",
    "mediaKey": "50119980-4760-4236-b5a1-a4bf438a9ba6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage03>
    <lOurProjectsImage04>
      <Value><![CDATA[[
  {
    "key": "c3ac7ef2-a951-431f-a8c5-052f876729b2",
    "mediaKey": "9874eeaf-b524-4e70-b579-5e9ed7e73afe",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage04>
    <lOurProjectsTextP01>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP01>
    <lOurProjectsTextP02>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP02>
    <lOurProjectsTextP03>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP03>
    <lOurProjectsTextP04>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP04>
    <pageTitle>
      <Value><![CDATA[Project]]></Value>
    </pageTitle>
    <projectsBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "393be8c2-1cac-4465-a82d-d0a7618aae72",
    "mediaKey": "bdda627c-f1fb-4743-9b5d-2ca153193ed9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBackgroundImage>
    <projectsDetailsLink01>
      <Value><![CDATA[Read more]]></Value>
    </projectsDetailsLink01>
    <projectsHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsHeadline>
    <projectsLink1>
      <Value><![CDATA[/]]></Value>
    </projectsLink1>
    <projectsLink2>
      <Value><![CDATA[/projects]]></Value>
    </projectsLink2>
    <projectsLinkText1>
      <Value><![CDATA[Home]]></Value>
    </projectsLinkText1>
    <projectsLinkText2>
      <Value><![CDATA[Projects]]></Value>
    </projectsLinkText2>
    <rightTag01>
      <Value><![CDATA[Report]]></Value>
    </rightTag01>
    <rightTag02>
      <Value><![CDATA[Busines plans]]></Value>
    </rightTag02>
    <rightTag03>
      <Value><![CDATA[Insights]]></Value>
    </rightTag03>
    <rightTag04>
      <Value><![CDATA[Business]]></Value>
    </rightTag04>
    <rightTag05>
      <Value><![CDATA[App]]></Value>
    </rightTag05>
    <rightTag06>
      <Value><![CDATA[Project]]></Value>
    </rightTag06>
    <rightTag07>
      <Value><![CDATA[Finance]]></Value>
    </rightTag07>
    <rightTag08>
      <Value><![CDATA[Pricing]]></Value>
    </rightTag08>
    <rightTagHeadLine>
      <Value><![CDATA[Tags]]></Value>
    </rightTagHeadLine>
  </Properties>
</Content>