<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5d1f321-71bd-4e2e-8c24-47000d2527bb" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-10-27T16:41:33</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1beb6ec1-b29b-4a0c-8c2e-4fd22a727b81">services</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <servicesBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "16fb0565-1300-4ac1-a357-25d60346d378",
    "mediaKey": "bdda627c-f1fb-4743-9b5d-2ca153193ed9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesBackgroundImage>
    <servicesHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </servicesHeadline>
    <servicesLink1>
      <Value><![CDATA[/]]></Value>
    </servicesLink1>
    <servicesLink2>
      <Value><![CDATA[/services]]></Value>
    </servicesLink2>
    <servicesLinkText1>
      <Value><![CDATA[Home]]></Value>
    </servicesLinkText1>
    <servicesLinkText2>
      <Value><![CDATA[Services]]></Value>
    </servicesLinkText2>
  </Properties>
</Content>