<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd47c985-fd5a-4daf-a7b2-5808ae0e1eaa" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-10-26T19:44:13</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <img11>
      <Value><![CDATA[[
  {
    "key": "5f00bbab-ff00-45bd-ab6d-14da301041c1",
    "mediaKey": "d7dfe1e8-2f7a-43f0-bde4-4b7c8c1b3692",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </img11>
    <npImageBackground>
      <Value><![CDATA[[
  {
    "key": "111459fa-e133-4a03-a104-54874f4cf2f1",
    "mediaKey": "a40771f7-34f1-4386-a782-93915762e5e1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageBackground>
    <npImageDot>
      <Value><![CDATA[[
  {
    "key": "39033096-0d37-4197-a5ce-419869557314",
    "mediaKey": "1f2a7cb3-77df-4acc-a9a1-0cba5db2612e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageDot>
    <npImageHuman>
      <Value><![CDATA[[
  {
    "key": "6981bd80-d1dc-46da-a198-287c35e7fbc0",
    "mediaKey": "49733c3c-c338-4edd-80f8-4a81857d74cf",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageHuman>
    <npPEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </npPEmail>
    <npPLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </npPLocation>
    <npPPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </npPPhone>
    <npTextEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </npTextEmail>
    <npTextHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </npTextHeadline>
    <npTextLocation>
      <Value><![CDATA[Office location]]></Value>
    </npTextLocation>
    <npTextPhone>
      <Value><![CDATA[Phone number]]></Value>
    </npTextPhone>
    <partnersImage1>
      <Value><![CDATA[[
  {
    "key": "a0e492b0-38fd-4c92-b939-7f1bd982667f",
    "mediaKey": "d0aafb36-b39b-43ee-bfac-a984b1d39c4c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage1>
    <partnersImage2>
      <Value><![CDATA[[
  {
    "key": "4e8f7ec0-0751-4101-ae64-4494c974e0c9",
    "mediaKey": "86a1c3cd-1b7a-4adf-a8fa-4e4374dca87c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage2>
    <partnersImage3>
      <Value><![CDATA[[
  {
    "key": "e42a7341-09aa-43ba-b446-b9a4684ab879",
    "mediaKey": "1d3d2cb3-e912-450d-b8a8-533ce54cdc3c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage3>
    <partnersImage4>
      <Value><![CDATA[[
  {
    "key": "bbc4d9dc-2e78-419d-9121-b38403cd9069",
    "mediaKey": "75a9d1e1-f31e-4ded-862d-9d8517a20e41",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage4>
    <partnersImage5>
      <Value><![CDATA[[
  {
    "key": "fb915e35-3a18-41f1-b987-745b5302a896",
    "mediaKey": "b93241e1-68c1-4234-b7b2-0a260744477a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage5>
    <partnersImage6>
      <Value><![CDATA[[
  {
    "key": "0e76b190-5b31-478b-91d8-57100f294327",
    "mediaKey": "9d2a48df-dee8-44f5-ba04-8ced55b43396",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage6>
    <weHelpYouHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </weHelpYouHeadline>
    <weHelpYouImage>
      <Value><![CDATA[[
  {
    "key": "fb462b2e-5ae1-49d2-b177-93dda79d06c4",
    "mediaKey": "d176f521-dfd3-4871-bcfe-96b00b3753ec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weHelpYouImage>
    <weHelpYouText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </weHelpYouText>
  </Properties>
</Content>