<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2554370-7282-460d-b420-5a211c220659" Alias="Social media" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SocialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2024-09-11T18:48:09</CreateDate>
    <NodeName Default="Social media" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <addresInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </addresInfo>
    <facebookLink>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "target": "_blank",
    "type": "external",
    "unique": "",
    "url": "https://www.facebook.com/"
  }
]]]></Value>
    </facebookLink>
    <linkedInLink>
      <Value><![CDATA[[
  {
    "name": "Linkedin",
    "target": null,
    "udi": null,
    "url": "https://linkedin.com/",
    "queryString": null
  }
]]]></Value>
    </linkedInLink>
    <pageLink>
      <Value><![CDATA[]]></Value>
    </pageLink>
    <pageName>
      <Value><![CDATA[]]></Value>
    </pageName>
    <twitterLink>
      <Value><![CDATA[[
  {
    "name": "X",
    "target": null,
    "udi": null,
    "url": "https://x.com/?lang=sv",
    "queryString": null
  }
]]]></Value>
    </twitterLink>
  </Properties>
</Content>