<?xml version="1.0" encoding="utf-8"?>
<Media Key="23c7ce47-d02d-46b3-85bb-22f4b8623783" Alias="01.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:36:03</CreateDate>
    <NodeName Default="01.svg (1)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wvzhlqjw/01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>