<?xml version="1.0" encoding="utf-8"?>
<Media Key="86a1c3cd-1b7a-4adf-a8fa-4e4374dca87c" Alias="02.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:22:49</CreateDate>
    <NodeName Default="02.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h35agzdb/02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>