<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d3d2cb3-e912-450d-b8a8-533ce54cdc3c" Alias="03.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:22:54</CreateDate>
    <NodeName Default="03.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igij55yj/03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>