<?xml version="1.0" encoding="utf-8"?>
<Media Key="75a9d1e1-f31e-4ded-862d-9d8517a20e41" Alias="04.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:00</CreateDate>
    <NodeName Default="04.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cnwaxfyf/04.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>