<?xml version="1.0" encoding="utf-8"?>
<Media Key="b93241e1-68c1-4234-b7b2-0a260744477a" Alias="05.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:06</CreateDate>
    <NodeName Default="05.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cp4jaw40/05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>