<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d2a48df-dee8-44f5-ba04-8ced55b43396" Alias="06.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:12</CreateDate>
    <NodeName Default="06.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fx0jq55t/06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>