<?xml version="1.0" encoding="utf-8"?>
<Media Key="918189df-4ddb-4d94-940a-97c437c9ac66" Alias="assurance.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assurancesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:18</CreateDate>
    <NodeName Default="assurance.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fu0cg24a/assurance.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>