<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d039a89-b82f-4472-b4ca-e03df8487694" Alias="bonds.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bondssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:24</CreateDate>
    <NodeName Default="bonds.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pmtldhzu/bonds.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>