<?xml version="1.0" encoding="utf-8"?>
<Media Key="56287fce-c92a-4e7a-bd35-d08ed1f910f1" Alias="Brand.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-29T16:21:18</CreateDate>
    <NodeName Default="Brand.svg (1)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/htbivnbr/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>