<?xml version="1.0" encoding="utf-8"?>
<Media Key="90963cf2-a923-4cb2-aa37-3404eb71aa89" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:35</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/acadi2ry/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>