<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca2eceec-1133-419f-96e7-5567c7657b20" Alias="ceo woman.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ceoWomansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:35:14</CreateDate>
    <NodeName Default="ceo woman.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dzzjykbi/ceo-woman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>