<?xml version="1.0" encoding="utf-8"?>
<Media Key="bdda627c-f1fb-4743-9b5d-2ca153193ed9" Alias="contact bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-27T16:08:28</CreateDate>
    <NodeName Default="contact bg.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r1phqx5a/contact-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>