<?xml version="1.0" encoding="utf-8"?>
<Media Key="7abbeade-1211-4990-93bd-bd1615122ca2" Alias="dot-background.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotBackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:48</CreateDate>
    <NodeName Default="dot-background.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/frlbtgak/dot-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>