<?xml version="1.0" encoding="utf-8"?>
<Media Key="07eefd23-a6f4-4cb5-baaa-eb08b139d78d" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:42</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0faezzpp/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>