<?xml version="1.0" encoding="utf-8"?>
<Media Key="0672d8b9-1938-4783-ac89-09431be237a3" Alias="expert 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:03</CreateDate>
    <NodeName Default="expert 2.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jnsnbzbd/expert-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>