<?xml version="1.0" encoding="utf-8"?>
<Media Key="18ca6dc8-06df-456e-8f33-0838496a24f4" Alias="expert 7.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:45</CreateDate>
    <NodeName Default="expert 7.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hligr4we/expert-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>