<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8b6f2b4-bde9-4dcd-ac10-6ed133a2c5b0" Alias="expert 6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:39</CreateDate>
    <NodeName Default="expert 6.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/izhbikxs/expert-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>