<?xml version="1.0" encoding="utf-8"?>
<Media Key="980236cd-edb0-42b6-9565-8f38a6806c4d" Alias="expert 5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:33</CreateDate>
    <NodeName Default="expert 5.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h4fla4vl/expert-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>