<?xml version="1.0" encoding="utf-8"?>
<Media Key="8db0ef28-d54b-49ef-9470-772fa2b65c27" Alias="expert 4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:27</CreateDate>
    <NodeName Default="expert 4.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jjbe10q/expert-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>