<?xml version="1.0" encoding="utf-8"?>
<Media Key="43b63fff-bf7a-494d-ba05-4e388f77633b" Alias="expert 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:48:00</CreateDate>
    <NodeName Default="expert 1.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bwbbjilb/expert-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>