<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d3333ee-28dc-4041-a139-b4bc782b42e1" Alias="expert 3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:57:22</CreateDate>
    <NodeName Default="expert 3.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dshjd14h/expert-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>