<?xml version="1.0" encoding="utf-8"?>
<Media Key="d06b97bb-b2bf-4764-94b3-4e117e067a4d" Alias="favicon.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/faviconsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:53</CreateDate>
    <NodeName Default="favicon.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jevmsmve/favicon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>