<?xml version="1.0" encoding="utf-8"?>
<Media Key="64ec1940-d3ca-4605-993d-d1ee426d571d" Alias="financial.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/financialsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:23:59</CreateDate>
    <NodeName Default="financial.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wkse3bwr/financial.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>