<?xml version="1.0" encoding="utf-8"?>
<Media Key="17874b62-1a75-433c-a697-9d3ba8f64fa1" Alias="help Bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/helpBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-07T14:28:54</CreateDate>
    <NodeName Default="help Bg.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sd1cl3lo/help-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>