<?xml version="1.0" encoding="utf-8"?>
<Media Key="d176f521-dfd3-4871-bcfe-96b00b3753ec" Alias="mail.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T18:29:15</CreateDate>
    <NodeName Default="mail.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0nenim4i/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>