<?xml version="1.0" encoding="utf-8"?>
<Media Key="49733c3c-c338-4edd-80f8-4a81857d74cf" Alias="next man.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextMansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-26T19:46:04</CreateDate>
    <NodeName Default="next man.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z0andkzd/next-man.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>