<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f2a7cb3-77df-4acc-a9a1-0cba5db2612e" Alias="next Dot.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-26T19:46:32</CreateDate>
    <NodeName Default="next Dot.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ihajr5oe/next-dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>