<?xml version="1.0" encoding="utf-8"?>
<Media Key="a40771f7-34f1-4386-a782-93915762e5e1" Alias="next bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/nextBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-26T19:46:23</CreateDate>
    <NodeName Default="next bg.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/axgkkrxk/next-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>