<?xml version="1.0" encoding="utf-8"?>
<Media Key="f66c3655-335d-42d3-b2f6-074861fa8b99" Alias="pj1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-27T18:09:14</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u4fn2fcg/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>