<?xml version="1.0" encoding="utf-8"?>
<Media Key="50119980-4760-4236-b5a1-a4bf438a9ba6" Alias="pj3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-27T18:09:16</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oislhmt1/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>