<?xml version="1.0" encoding="utf-8"?>
<Media Key="9874eeaf-b524-4e70-b579-5e9ed7e73afe" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-27T18:09:18</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvjnm4r5/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>