<?xml version="1.0" encoding="utf-8"?>
<Media Key="819ae2d2-fbdf-439d-97e6-438259f6cbc6" Alias="review man.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/reviewMansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-01T15:38:00</CreateDate>
    <NodeName Default="review man.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ebpdqy4e/review-man.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>