<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7dfe1e8-2f7a-43f0-bde4-4b7c8c1b3692" Alias="riskmanagment.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmanagmentsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:05</CreateDate>
    <NodeName Default="riskmanagment.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/djoh0nlb/riskmanagment.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>