<?xml version="1.0" encoding="utf-8"?>
<Media Key="05aab692-c212-409e-bc1d-ae2d3e9a4e9f" Alias="SignatureImg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SignatureImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:17</CreateDate>
    <NodeName Default="SignatureImg.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mafbrzyj/signatureimg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>