<?xml version="1.0" encoding="utf-8"?>
<Media Key="940fd2c6-cd8c-435c-bbd7-437df70bf33e" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:29</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grxl03ux/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>