<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e57d782-cb56-4a42-9ff7-fd2cb1b8eca3" Alias="sl-home2.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-17T16:24:23</CreateDate>
    <NodeName Default="sl-home2.jpg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/buobdob5/sl-home2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>