<?xml version="1.0" encoding="utf-8"?>
<Media Key="931a4ea6-2fd1-4619-96cc-6c821e58f9a6" Alias="statistic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/statisticsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:35</CreateDate>
    <NodeName Default="statistic.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ktzlq2ok/statistic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>