<?xml version="1.0" encoding="utf-8"?>
<Media Key="469ac614-67e8-46e4-8d44-9202d070729c" Alias="success.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:40</CreateDate>
    <NodeName Default="success.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2z3drjht/success.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>