<?xml version="1.0" encoding="utf-8"?>
<Media Key="0eba3d2c-0ba4-487a-9cad-76d10ccdbb47" Alias="tax.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/taxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:47</CreateDate>
    <NodeName Default="tax.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/10abr1f5/tax.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>