<?xml version="1.0" encoding="utf-8"?>
<Media Key="37bd16b3-f81c-46b7-8b4e-41c53096a4b3" Alias="team picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamPicturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-17T16:24:52</CreateDate>
    <NodeName Default="team picture.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/igvb5vih/team-picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>